<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/layout-minimal}" th:with="title='login'">

<body>

    <div layout:fragment="content" class="text-center">

        <div class="col-4 mx-auto">

            <h3 class="form-signin-heading">Log in</h3>

            <p th:if="${param.error}" class="alert alert-warning">
                Wrong email or password
            </p>

            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>

            <form th:action="@{/user/login}" method="post" th:object="${user}" class="form-signin">

                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" id="inputEmail" name="email" class="form-control mb-2"
                       placeholder="email" required="" autofocus="">

                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword"
                       class="form-control mb-2" name="password"
                       placeholder="Password" required="">

                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
            </form>

            <p class="mt-2">Not on site yet? <a href="/user/registration">registration</a></p>
        </div>
    </div>
</body>
</html>