<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/layout-minimal}" th:with="title='registration'">

<body>

    <div layout:fragment="content" class="text-center">

        <div class="col-4 mx-auto">
            <form name="f" th:action="@{/user/registration}" method="post">

                <h3 class="form-signin-heading">Registration</h3>

                <label for="name" class="sr-only">Username</label>
                <input type="text" value="user" id="name" class="form-control mb-2"
                       placeholder="username" required="" autofocus="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" value="some_password" id="inputPassword"
                       class="form-control mb-2"
                       placeholder="Password" required="">

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>

        </div>

    </div>
</body>
</html>