<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/layout-minimal}" th:with="title='Success registration'">

<body>

    <div layout:fragment="content" class="text-center">

        <div class="col-4 mx-auto">
            <div class="alert alert-success">
                Success registration
            </div>

            <p class="mt-2">Go to <a href="/user/login">login</a></p>
        </div>
    </div>
</body>
</html>