<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/layout}" th:with="title='about'">

    <body>

        <div layout:fragment="content">

            <div class="container bg-light p-3">

                <h2>about project</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vivamus id erat magna. Sed pretium tempor velit, eget
                    tincidunt augue elementum ac. Nulla sit amet dui ac mi
                    accumsan finibus ut at felis. Nulla a risus non lacus
                    sodales faucibus. Etiam eget porttitor nisi.
                    Donec iaculis aliquet quam. Donec sodales eu augue
                    eget vehicula. Cras placerat erat sapien, nec lacinia
                    dui pellentesque et. Etiam ornare lacus nec metus
                </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vivamus id erat magna. Sed pretium tempor velit, eget
                    tincidunt augue elementum ac. Nulla sit amet dui ac mi
                    accumsan finibus ut at felis. Nulla a risus non lacus
                    sodales faucibus. Etiam eget porttitor nisi.
                    Donec iaculis aliquet quam. Donec sodales eu augue
                    eget vehicula. Cras placerat erat sapien, nec lacinia
                    dui pellentesque et. Etiam ornare lacus nec metus
                </p>

            </div>
        </div>
    </body>
</html>