<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/layout}" th:with="title='home page'">

    <body>

        <div layout:fragment="content">

            <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">links shortener logo</h1>
                <p class="lead">add links. log in if you want get statistics</p>
            </div>

            <div class="col-sm-8 mx-auto">
                <form th:action="@{/}" th:object="${link}" method="post" class="p-2" >
                    <div class="input-group">
                        <input type="text" th:field="*{longUrl}" class="form-control" placeholder="some url">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal -->
            <div th:if=${link.shortUrl} class="modal fade" id="savedLinkData" tabindex="-1" role="dialog" aria-labelledby="savedLinkDataLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitle">Your saved link</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>shortUrl - <span th:text="${link.shortUrl}"></span></p>
                            <p>longUrl - <span th:text="${link.longUrl}"></span></p>

                            <a href="/">Submit another link</a>

                            <p>You can view links with statistic if <a href="/login">log in</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script th:if=${link.shortUrl} layout:fragment="additional-scripts" >
             window.onload = function() {
                showModal();
             };
        </script>

    </body>
</html>