<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/layout" th:with="title='list links'">

    <body>

        <div layout:fragment="content">
            <h2>List of links</h2>

            <table>

                <tr>
                    <th>shortUrl</th>
                    <th>longUrl</th>
                    <th>created</th>
                    <th>clicks</th>
                </tr>

                <tr th:each="link : ${links}">
                    <td th:text="${link.shortUrl}">shortUrl</td>
                    <td th:text="${link.longUrl}">longUrl</td>
                    <td th:text="${link.createTime}">created</td>
                    <td th:text="${link.clicks}">clicks</td>
                </tr>
            </table>
        </div>

    </body>
</html>