<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/layout" th:with="title='saved link'">

<body>

<div layout:fragment="content">

    <h2>Your saved of link</h2>

    <p>shortUrl - <span th:text="${link.shortUrl}"></span></p>
    <p>longUrl - <span th:text="${link.longUrl}"></span></p>

    <a href="/">Submit another link</a>
    <a href="/user/links">all links</a>

</div>

</body>
</html>