<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head th:insert="base/header :: head"></head>

    <body>

        <div th:insert="base/nav :: nav"></div>

        <div class="container">
            <div layout:fragment="content"></div>
        </div>

        <div th:insert="base/scripts :: scripts"></div>

        <div layout:fragment="additional-scripts"></div>
    </body>
</html>